@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background-color: black;
  align-items: center;
  align-content: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.navigation {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #2c3e50;
  margin: 0;
  margin-bottom: 0px;
  border-bottom: 1px solid white;
}

a {
  color: #0671D4;
  text-decoration: none;
}

.nav-item {
  font-size: 25px;
  display: inline-block;
  padding-left: 70px;
  padding-right: 30px;
  padding-top: 10px;
}

.nav-left {
  left: 30px;
}

.nav-right {
  float: right;
}

.hero {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #e74c3c;
  justify-content: space-around;
  /*background: url("images/earth.png") no-repeat;*/
  background-size: contain;
  padding-top: 150px;

}

.about {
  display: flex;
  height: 400px;
  background-color: #3498db;
  justify-content: space-around;
  padding-top: 100px;
  padding-left: 5%;
}

.portfolio {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #2ecc71;
}

.content {
  width: 55%;
  height: 30%;
  padding-bottom: 50px;
  background: rgba(128, 128, 128, 0.63);
}

.about-content {
  width: 60%;
  height: 60%;
  padding-bottom: 50px;
  background: rgba(128, 128, 128, 0.63);

}

p {
  font-size: 20px;
  padding: 20px;
}

.social-media-container {
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  width: 64px;
  align-items:center;
  padding-right: 70px;
}


#linkedin {
  background-image: url("images/linkedin-3-64.png");
  height: 60px;
  width: 60px;
  display: inline-block;
}

#linkedin:hover {
  outline: solid;
  outline-width: 5px;
  border-width: 5px;
  border-color: rgb(15, 100, 248);
}

#github {
  background-image: url("images/GitHub-Mark-Light-64px.png");
  height: 60px;
  width: 64px;
  display: inline-block;
}

#github:hover {
  outline: solid;
  outline-width: 5px;
  border-width: 5px;
  border-color: rgb(15, 100, 248);
}

#email {
  background-image: url("images/black.png");
  height: 60px;
  width: 64px;
  display: inline-block;
}

#email:hover {
  outline: solid;
  outline-width: 5px;
  border-width: 5px;
  border-color: rgb(15, 100, 248);
}

.portfolio-flex {
  height: 300px;
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 60px;
  justify-content: space-between;
  padding-right: 60px;
}

#pilot {
  background-image: url("images/pilot2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 500px;
  display: inline-block;
}

#thrive {
  background-image: url("images/thrive.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 500px;
  display: inline-block;
}

.portfolio-title {
  padding-top: 10px;
  padding-left: 10px;
  height: 100px;
  font-size: 20px;
}

/*.keith {
  padding-left: 50px;
}

.prifte {
  padding-top: 300px;
  padding-right: 50px;
}

h1 {
  display: block;
  font-family: 'Faster One', cursive;
  font: 500;
  /*letter-spacing: -.02em;*/
  background: url("images/nebula_large.jpg") no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-left: 10px;
  }*/
