body {
  background-color: pink;
  align-items: center;
  align-content: center;
  margin: 0;
}

.navigation {
  display: block;
  width: 100%;
  height: 50px;
  background-color: white;
  margin: 0;
  margin-bottom: 0px;
}

.nav-item {
  display: inline-block;
  padding-left: 70px;
  padding-right: 200px;
  padding-top: 10px;
}

.nav-left {
  left: 30px;
}

.nav-right {
  float: right;
}

.hero {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: black;
}

.about {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #3498db;
}

.portfolio {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #2ecc71;
}
