body {
  background-image: url("images/nebula_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: 0px;
}

header {
    height: 100px;
    width: 100%;
    align-content: center;
    padding-bottom: 400px;
    padding-top: 75px;
}

h1 {
  font-family: arial;
  font-size: 100px;
  color: #ffffff;
  text-shadow: 4px 5px 8px
    rgb(183, 15, 62), -4px -4px 8px
    rgb(15, 100, 248), 0px 5px 8px;
  text-align: center;
}

div {
  height: 200px;
  background-color: #000;
  margin-left: 0px;
  color: #fff;
}
